<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hooptap.brandsampleaws">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".HTApplication"
        android:allowBackup="true"
        android:icon="@drawable/hooptap"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Generic.HooptapActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Login.Register"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Login.InitSesson"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".User.Profile"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".User.UpdateUser"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Badges.BadgeList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Badges.BadgeDetail"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Actions.Actions"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Feed.Feed"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Login.Login"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Ranking.RankingDetail"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Ranking.RankingList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Levels.LevelDetail"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Levels.LevelList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Actions.Rewards"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Quest.QuestsList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Quest.QuestDetail"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>


</manifest>
